hr {
  margin: 2em 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  font-family: serif;
  margin: 0.5em 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a { color: blue; }
a:hover { text-decoration: underline; }

p {
  font-family: serif;
  font-size: 1.2em;
}

img {
  margin: 1em;
  -moz-box-shadow:    6px 6px 30px #e9e9e9;
  -webkit-box-shadow: 6px 6px 30px #d9e9e9;
  box-shadow:         6px 6px 30px #d9e9e9;
}

pre {
  display: inline-block;
  margin: 1em 0;
  padding: 1.5em 2em;
  line-height: 1.2em;
  -moz-box-shadow:    6px 6px 30px #e9e9e9;
  -webkit-box-shadow: 6px 6px 30px #d9e9e9;
  box-shadow:         6px 6px 30px #d9e9e9;
}

code {
  color: #d63384;
  font-size: 0.9em;
}

@media (max-width: 1024px) {
  code {
    font-size: 0.6em;
    line-height: 0.2em;
  }
}

code.hljs {
  background: none;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -4em}
  100%  {opacity: 1;}
}
