<partial src="partials/layout.html" page="index">
	<main class="container mx-auto lg:px-40 px-10 py-10">
		<h1>Hello, I'm Alex.</h1>

		<p class="text-2xl mb-20">
			I'm a brazilian software engineer working at <a href="https://fw.tv" target="_blank">fw.tv</a>.<br />
			Here I post notes for future reference.
		</p>


		<partial src="partials/post.html" title="May 30, 2021. Toggle fullscreen on Vim split">
			<partial src="partials/vim-fullscreen.md" />
		</partial>

		<partial src="partials/post.html" title="May 30, 2021. Less verbose Kubernetes commands">
			<partial src="partials/kub.md" />
		</partial>

		<partial src="partials/post.html" title="May 30, 2021. Run test under cursor in Vim">
			<partial src="partials/vim-test.md" />
		</partial>

		<partial src="partials/post.html" title="May 29, 2021. Static Site Generator in &lt; 100 lines of code">
			<partial src="partials/ssg.md" />
		</partial>
	</main>
</partial>
