<partial src="partials/layout.html" page="index">
	<main class="container mx-auto lg:px-40 px-10 py-10">
		<h1>Hello, I'm Alex.</h1>

		<p class="text-2xl mb-20">
			I'm a brazilian software engineer working at <a href="https://fw.tv" target="_blank">fw.tv</a>.<br />
			Here I post notes for future reference.
		</p>

		<h3>Notes</h3>

		<h4>May 30, 2021. Toggle fullscreen on Vim split</h4>
		<partial src="partials/vim-fullscreen.md" />

		<h4>May 30, 2021. Less verbose Kubernetes commands</h4>
		<partial src="partials/kub.md" />

		<h4>May 30, 2021. Run test under cursor in Vim</h4>
		<partial src="partials/vim-text.md" />

		<h4>May 29, 2021. Static Site Generator in &lt; 100 lines of code</h4>
		<partial src="partials/ssg.md" />
	</main>
</partial>
