p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.5rem;
}

p, li {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.4rem;
}

.resume p, .resume li, .navbar li {
	font-size: 1rem;
}

p small {
	font-size: 0.8rem;
}

a, h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, 'Nimbus Sans L', 'Liberation Sans', sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.sourceCode {
	padding: 1rem;
}

div.sourceCode, img {
	margin-bottom: 2em;
	background: white;
	border-radius: 0.5rem;
	font-size: 0.8rem;
	box-shadow: 0 0 1.5rem #bbb;
}
